// cart.scss

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.cart-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.cart-panel {
  position: fixed;
  top: 0;
  right: -100%;
  width: 90vw;
  max-width: 95%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
  transition: right 0.8s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0rem 2rem;
  overflow-y: auto;

  @media (min-width: 768px) {
    width: 400px;
  }

  @media (min-width: 1024px) {
    width: 600px;
  }

}

.cart-panel.open {
  right: 0;
}

.cart-panel h4 {
  font-family: var(--font-family-sans);
  font-weight: 500;
  font-size: 1.5rem;
}


.cart-panel__header {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.cart-panel__header::after {
  position: absolute;
  right: -2rem;
  bottom: 0;
  height: 1px;
  width: 90vw;
  background: var(--border-color);
  content: '';
}


.cart-panel p {
  font-family: var(--font-family-sans);
  font-size: 1rem;
  color: #333;
}

#closeCart {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.cart-close-icon {
  height: 1rem;
  width: auto;
}

.cart-panel__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: space-between;
}

.cart-panel__item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1.75rem 0;
  border-bottom: 1px solid var(--border-color);
}

.cart-panel__image-container {
  flex: 0 1 auto;
  max-width: 45%;
}

.cart-panel__image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.cart-panel__content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.cart-item-remove {
  font-family: var(--font-family-roboto);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  opacity: 30%;
  border-bottom: 2px solid black;
  width: fit-content;
  margin-top: 15px;
  transition: opacity 0.3s ease;
}

.cart-item-remove:hover {
  opacity: 60%;
}

.cart-item-title {
  font-family: var(--font-family-roboto);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

.cart-panel__checkout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 1.25rem;
  padding-bottom: 2rem;
}

.cart-panel__checkout::before {
  position: absolute;
  right: -2rem;
  top: 0;
  height: 1px;
  width: 90vw;
  background: var(--border-color);
  content: '';
}

.cart-subtotal {
  font-weight: 500;
}

.cart-checkout__button {
  display: inline-block;
  width: -webkit-fill-available;
  background-color: var(--primary-color);
  border: none;
  border-radius: 2.5rem;
  padding: 0.75rem 2.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.cart-checkout__button:hover {
  background-color: var(--hover-primary-color);
}

.cart-checkout__button span {
  font-family: var(--font-family-roboto);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: white;
}

.cart-checkout__continue {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid black;
}