.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  z-index: 999;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.cart-panel {
  position: fixed;
  top: 0;
  right: -100%;
  width: 90vw;
  max-width: 95%;
  height: 100%;
  background: #fff;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
  transition: right 0.8s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0;
  overflow-y: auto;

  &.open {
    right: 0;
  }

  h4 {
    font-family: var(--font-family-sans);
    font-weight: 500;
    font-size: 1.5rem;
  }

  p {
    font-family: var(--font-family-sans);
    font-size: 1rem;
    color: #333;
  }

  @media (min-width: 768px) {
    width: 400px;
  }

  @media (min-width: 1024px) {
    width: 600px;
  }
}

.cart-panel__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 2rem;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -2rem;
    width: 90vw;
    height: 1px;
    background: var(--border-color);
  }
}

.cart-panel__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;
}

.cart-panel__item {
  display: flex;
  gap: 1rem;
  padding: 1.75rem 0;
  border-bottom: 1px solid var(--border-color);
}

.cart-panel__image-container {
  flex: 0 1 auto;
  max-width: 45%;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.cart-panel__content {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 2.5px;
}

.cart-item-title {
  font-family: var(--font-family-roboto);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

.cart-item-remove {
  font-family: var(--font-family-roboto);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  opacity: 0.3;
  border-bottom: 2px solid black;
  width: fit-content;
  margin-top: 15px;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }
}

.cart-panel__checkout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1.25rem 0 2rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -2rem;
    width: 90vw;
    height: 1px;
    background: var(--border-color);
  }
}

.cart-subtotal {
  font-weight: 500;
}

.cart-checkout__button {
  display: inline-block;
  width: -webkit-fill-available;
  background-color: var(--primary-color);
  border: none;
  border-radius: 2.5rem;
  padding: 0.75rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--hover-primary-color);
  }

  span {
    font-family: var(--font-family-roboto);
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: white;
  }
}

.cart-checkout__continue {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid black;
  background: none;
  cursor: pointer;
}

#closeCart {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.cart-close-icon {
  height: 1rem;
  width: auto;
}