// Content Copy Start

.content__copy {
  text-align: center;
}

.content__copy-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  opacity: 50%;
}

// Content Copy End //
