.header__navbar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 2.25rem 1.5rem;
  z-index: 50;

  @media (max-width: 767px) {
    background-color: white;
  }

  @media (min-width: 768px) {
    padding: 2rem 2rem;
  }

  @media (min-width: 1600px) {
    padding: 3rem 2.5rem;
  }

}

.logo__image {
  height: 2rem;
  width: auto;
  display: block;

  @media (min-width: 1024px) {
    height: 2.5rem;
  }

  @media (min-width: 1600px) {
    height: 3rem;
  }

}

.navbar__cart-icon {
  height: 2rem;
  width: auto;

  @media (min-width: 1024px) {
    height: 2.5rem;
  }

  @media (min-width: 1480px) {
    height: 3rem;
  }

}
