@use 'variables';
@use 'header';
@use 'content-copy';
@use 'product-card';
@use 'cart';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: var(--font-family-sans);
  background-color: #EBF6F8;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-family-roboto);
  font-weight: 400;
  font-size: 2rem;

  @media (min-width: 1024px) {
    font-size: 3.5rem;
  }
}

h3 {
  font-family: var(--font-family-roboto);
  font-weight: 300;
}

button {
  all: unset;
  cursor: pointer;
}

p {
  margin: 0;
}

.fluid-container {
  padding-left: 2rem;
  padding-right: 2rem;

  @media (min-width: 768px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

}

.block-spacing {
  padding-top: 4rem;
  padding-bottom: 4rem;

  &:nth-of-type(1) {
    background-color: white;
  }

  &:nth-of-type(2) {
    background-color: #EBF6F8;
  }

  @media (min-width: 1024px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

}

.section__container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    min-height: 100vh;
  }
}