// Product Card Section Start //

.product-image {
  width: 100%;
  aspect-ratio: 305 / 267;
}

.product__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3.5rem 2.25rem;
  border-radius: 0.35rem;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  @media (min-width: 1024px) {
    width: 425px;
    padding: 3.5rem 2.75rem;
    gap: 25px;
  }

}

.product-title {
  margin-top: 0.75rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}

.product-price {
  font-family: var(--font-family-roboto);
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 0.085rem;
  color: var(--primary-color);

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }

}

.product-button {
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--primary-color);
  border: none;
  border-radius: 2.5rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.product-button:hover {
  background-color: var(--hover-primary-color);
}

.product-button span {
  font-family: var(--font-family-roboto);
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: white;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

// Product Card Second End //
