// scss/_variables.scss

// SCSS variables
$primary-color: #ff5c00;
$secondary-color: #2ecc71;
$background-color: #EBF6F8;
$border-color: #EBEBEB;
$text-color-black: #000000;
$text-color-white: #FFFFFF;

$hover-primary-color: #E65200;

$font-family-sans: 'Open Sans', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;

// CSS Custom Properties output
:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --background-color: #{$background-color};
  --border-color: #{$border-color};
  --text-color-black: #{$text-color-black};
  --text-color-white: #{$text-color-white};

  --hover-primary-color: #{$hover-primary-color};

  --font-family-sans: #{$font-family-sans};
  --font-family-roboto: #{$font-family-roboto};
  --font-size-base: #{$font-size-base};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};
}
