// themes.scss

// ----------------------------------
// Colors
// ----------------------------------

$primary-color: #FF5C00;
$secondary-color: #2ecc71;
$background-color: #EBF6F8;
$border-color: #EBEBEB;
$text-color-black: #000000;
$text-color-white: #FFFFFF;

// ----------------------------------
// Fonts
// ----------------------------------

$font-family-sans: 'Open Sans', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;
